<div class="mt-2 p-2 bg-secondary text-white rounded">
    <h4>Pipe In Angular</h4>
    <h3>Default Pipe & Custom Pipe</h3>
</div>


<div class="row">
    <div class="col-3">
        Original Value - {{firstName}}
        <br/>
        after pipe - {{firstName | uppercase}}
    </div>
    <div class="col-3">
        Original Value - {{firstName}}
        <br/>
        after pipe - {{firstName | lowercase}}
    </div>
    <div class="col-3">
        Original Value - {{firstName}}
        <br/>
        after pipe - {{firstName | titlecase}}
    </div>
    <div class="col-3">
        Original Value - 
        <br/>
        after pipe - 
        <br/><br/><br/>
        <br/><br/>
    </div>
    <div class="col-3">
        Original Value -  {{currentDate}}
        <br/>
        after pipe -  {{currentDate | date}}
    </div>
    <div class="col-3">
        Original Value - {{ currentDate }}
        <br/>
        after pipe -  {{currentDate | date: 'dd-MM-yy'}}
    </div>
    <div class="col-3">
        Original Value - {{currentDate | date: 'dd-MMM-yy'}}
        <br/>
        after pipe - {{currentDate | date: 'dd/MMM/yy'}}
    </div>
    <div class="col-3">
        Original Value - 
        <br/>
        after pipe - 
        <br/><br/><br/>
        <br/><br/>
    </div>
    <div class="col-3">
        Original Value - {{student}}
        <br/>
        after pipe - {{student | json}}
    </div>
    <div class="col-3">
        Original Value - {{currentTime}}
        <br/>
        after pipe - {{currentTime | async | date: 'dd-MM-yy'}}
    </div> 
    <div class="col-3">
        Original Value - {{student.state}}
        <br/>
        after pipe - {{student.state | na}}
    </div>
    <div class="col-3">
        Original Value - 
        <br/>
        after pipe - 
    </div>
</div>